@font-face {
  font-family: "Source", "Sans";
  src: url("../../asset/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Volte", "Rounded";
  src: url("../../asset/fonts/VolteRoundedSemibold.otf") format("opentyype");
  font-weight: 700;
}
