@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
// @use '../../styles/partials/typography' as *;

.header {
  background-color: $primary-darkteal;
  color: $primary-white;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 0.5rem 0.75rem 0.0625rem gray;

  &__container {
    display: flex;
  }
  &__arrow {
    width: 1rem;
    rotate: 180deg;
    margin-top: 1rem;
  }
  &__search {
    width: 3rem;
  }
  &__text {
    @include mobile-page-header;
    padding-left: 2rem;
  }
}
