.homepage {
  padding: 1rem;
}

.image {
  &__homeImage {
    height: 15rem;
    margin: 2rem;
    padding-top: 2rem;
    width: 90%;
  }
}

.employee-header {
  margin-top: -4rem;

  &__info {
    text-align: center;
    padding: 3rem;
    color: #005151;
    font-size: 2rem;
  }
}

.details {
  margin-top: -2rem;

  &__info {
    margin: 2rem;
    text-align: center;
  }
}

.survey-button {
  border: none;
  border-radius: 20px;
  height: 40px;
  margin-bottom: 1rem;
  background-color: #30cebb;
  color: #ffff;
  width: 12rem;
  margin-left: 5.5rem;
}

.footer {
  &__container {
    display: flex;
    align-items: center;
    padding-left: 8rem;
    margin-top: 5rem;
  }

  &__text {
    color: #005151;
    font-size: 0.75rem;
  }

  &__logo {
    height: 1rem;
    padding-left: 0.5rem;
    width: 100%;
  }
}
